button{
    border-style: none;
    cursor: pointer;
    height: 100%;
}

button:disabled {
    background-color: antiquewhite;
    cursor: default;
}



  div{
    background-color: #cd7a7a;
  }

  .is-done{
    text-decoration: line-through;
    color: aqua;
  }

  p{
    line-height: 50px;
  }

  .validation-error{
    color: rgb(255, 255, 255);
    margin: 10px 0;
  }