div{
    display: flex;
    justify-content: center;
    background-color: #540000;
    flex-direction: column;
    align-items: center;
}

a{
    color: antiquewhite;
}

mat-calendar{
    width: 500px;
}